In [56]:
import pandas as pd
import matplotlib.pyplot as plt
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [57]:
x = df_train.drop('ACTION',axis=1)      #input features
y = df_train['ACTION']                  #output label

In [58]:
test_input = df_test.drop('id',axis=1)      #test input containing features
test_input.head()

,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [59]:
from sklearn.model_selection import train_test_split
#splitting in 20:80 for validation of data
x_train, x_valid, y_train, y_valid = train_test_split(x,y,test_size=0.2,random_state=1)

In [60]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfle = x_train
for i in range(dfle.columns.size):
    dfle.iloc[:,i] = le.fit_transform(dfle.iloc[:,i])

C:\Python39\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [61]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)#class_weight='balanced',random_state=1,max_iter=1000
model.fit(dfle,y_train)

LogisticRegression(max_iter=1000)

In [62]:
model.predict(x_valid)
dfle_valid = x_valid
for i in range(dfle_valid.columns.size):
    dfle_valid.iloc[:,i] = le.fit_transform(dfle_valid.iloc[:,i]) 
model.score(dfle_valid,y_valid)

C:\Python39\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

0.9461397619774183

In [63]:
test_input = df_test.drop('id',axis=1)
dfle_test = test_input
for i in range(dfle_test.columns.size):
    dfle_test.iloc[:,i] = le.fit_transform(dfle_test.iloc[:,i]) 
predictions = model.predict(dfle_test)

In [64]:
df_test.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [66]:
result = pd.DataFrame({'Id':df_test['id'],'Action':predictions})
result.to_csv('Submission8.csv',index=False)